<%= form_for(@weather_city, remote: true) do |f| %>
  <% if @weather_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_city.errors.count, "error") %> prohibited this weather_city from being saved:</h2>

      <ul>
      <% @weather_city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </div>
  <div class="field">
    <%= f.hidden_field :temperature %><br>
    <value=" ">
  </div>

  <button id="temp">Click to log Temp</button>

  <script type="text/javascript">
    $("#temp").on('click', function (e) {
      e.preventDefault();
      var cityName = $("#weather_city_city_name").val();
      url = "http://api.openweathermap.org/data/2.5/weather?q=" + cityName + "&mode=json&units=imperial";
      $.ajax({
        url: url,
        type: "get",
        dataType: "json",
        success: function(data) {
          console.log(data);
          var temp = data.main.temp
          $("#weather_city_temperature").val(temp);
          $('form').submit();
        },
        error: function(xhr, status) {
          console.log("There was an error");
        }
      });
    });
  </script>
<% end %>
