<h1>Listing weather_cities</h1>

<table>
  <thead>
    <tr>
      <th>City name</th>
      <th>Temperature</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weather_cities.each do |weather_city| %>
      <tr>
        <td><%= weather_city.city_name %></td>
        <td><%= weather_city.temperature %></td>
        <td><%= link_to 'Show', weather_city %></td>
        <td><%= link_to 'Edit', edit_weather_city_path(weather_city) %></td>
        <td><%= link_to 'Destroy', weather_city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather city', new_weather_city_path %>
